<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>20230216_recycle</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>BoardUpdateController</display-name>
    <servlet-name>BoardUpdateController</servlet-name>
    <servlet-class>kh.board.controller.BoardUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardUpdateController</servlet-name>
    <url-pattern>/BoardUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDelete</display-name>
    <servlet-name>BoardDelete</servlet-name>
    <servlet-class>kh.board.controller.BoardDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDelete</servlet-name>
    <url-pattern>/BoardDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoardDeleteController</display-name>
    <servlet-name>BoardDeleteController</servlet-name>
    <servlet-class>kh.board.controller.BoardDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardDeleteController</servlet-name>
    <url-pattern>/BoardDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyDeleteController</display-name>
    <servlet-name>ReplyDeleteController</servlet-name>
    <servlet-class>kh.board.controller.ReplyDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyDeleteController</servlet-name>
    <url-pattern>/ReplyDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyUpdateController</display-name>
    <servlet-name>ReplyUpdateController</servlet-name>
    <servlet-class>kh.board.controller.ReplyUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyUpdateController</servlet-name>
    <url-pattern>/ReplyUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecycleController</display-name>
    <servlet-name>RecycleController</servlet-name>
    <servlet-class>kh.recycle.controller.RecycleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecycleController</servlet-name>
    <url-pattern>/RecycleController</url-pattern>
  </servlet-mapping>
</web-app>